*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}

section {
    scroll-snap-align: start;
}

/* Variables */
:root {
    --bleuMain: #5fbfed;
    --bleuClair: #83cdfc;
    --bleuFonce: #328ebd;
    --rougeMain: #e3051d;
    --rougeClair: #ff4f60;
    --rougeFonce: #bd060f;
    --coulNoir: #000;
    --coulBlanc: #fff;
    --coulGris: #333;
    --coulGrisClair: #aaa;
    --blancCasse: #f1f1f1;
}
.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ Accueil ------------------ */
.accueil {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.accueil-container{
    height: 70vh;
    margin: 5vh auto 0 auto;
    flex-direction: column;
}
/* portrait */
.accueil-portrait {
    width: 100%;
    min-height: 30vh;
    margin-top: 3.5vh;
}
.accueil-portrait .img-container {
    margin: 0 30vw 0 0;
    border-radius: 50%;
    position: relative;
    width: 50vw;
    height: 50vw;
    border-left: 2px solid var(--rougeClair);
    border-top: 2px solid var(--rougeClair);
    border-right: 2px solid var(--rougeFonce);
    border-bottom: 2px solid var(--rougeFonce);
    box-shadow: inset 11vw 11vw 14vw var(--rougeFonce),
                inset -11vw -11vw 14vw var(--rougeClair);
    background: var(--rougeMain);
}
.accueil-portrait .img-container img {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* bloc de texte */
.accueil-texte {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
}
svg {
    color: var(--bleuMain);
    width: 40vw;
    margin: 0 10vw 0 auto;
    height: auto;
}
.bienvenue {
    text-align: center;
}
.bienvenue h1 {
    font-size: 2.1rem;
    font-family: 'Bebas Neue', sans-serif;
}
#txt-animation {
    min-height: 70px;
}
.txt-animation {
    font-size: 1.15rem;
    padding: 1vh 4vw;
    text-align: center;
}
/* Boutons liens */
.acc-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acc-btn-container {
    display: none;
    flex-direction: column;
    margin-top: 2vh;
    width: 100%;
}
.btn-acc {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    max-width: 280px;
    height: 50px;
    text-decoration: none;
    background: var(--coulNoir);
    color: var(--blancCasse);
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;
}
.btn-acc:hover {
    transform: scale(1.02);
    background-color: var(--bleuMain);
}
.btn-acc1 {
    margin: 10px 0 0 0;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid var(--coulNoir);
    color: var(--coulNoir);
    font-weight: 700;
}
.medias {
    width: 100%;
    margin-top: 4vh;
}
.medias a {
    text-decoration: none;
}
.media {
    width: 60px;
    height: 60px;
    background: var(--coulGris);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.media:hover {
    background-color: var(--bleuMain);
    border: 2px solid var(--rougeMain);
}
.media2 {
    background: transparent;
    border: 2px solid var(--coulGris);
}
.media3 {
    margin-right: 0;
}
.media i {
    text-decoration: none;
    color: white;
}
.media2 i {
    color: #333;
}
.media2:hover i {
    color: var(--coulBlanc);
}

/* Bouton de bas de page */
.btn-rond-container {
    width: 100%;
    height: 10vh;
    max-height: 15vw;
    position: absolute;
    bottom: 0;
}
.btn-rond {
    width: 56px;
    height: 56px;
    position: absolute;
    bottom: 2vh;
    left: calc(50% - 28px);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 var(--coulGris);
    background: var(--coulGris);
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.05);
    }
}
.btn-rond i {
    color: var(--blancCasse);
}














/* RESPONSIVE MEDIA QUERIES*/
@media screen and (min-height: 800px) {
    .accueil-container {
        height: 60vh;
    }
    .accueil-texte {
        padding-top: 0;
    }
    .acc-btn-container {
        display: flex;
    }
    .medias {
        margin-top: 2vh;
    }
}
@media screen and (min-width: 550px) {
    .accueil-container {
        height: 65vh;
    }
}
@media screen and (min-width: 575px) {
    .acc-btn-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .btn-acc {
        width: 250px;
    }
    .medias {
        margin-top: 3vh;
    }
}
@media screen and (min-width: 600px) {
    .accueil-container,
    .acc-btns {
        max-width: 600px;
        margin: auto;
    }
    .accueil-portrait {
        margin-top: 5vh;
    }
    .accueil-portrait .img-container {
        max-width: 300px;
        max-height: 300px;
    }
    .accueil-portrait .img-container img {
        max-width: 420px;
    }
    .accueil-texte {
        height: 30vh;
    }
    #bonjour svg {
        max-width: 240px;
    }
    .bienvenue h1 {
        font-size: 2.3rem;
    }
    .txt-animation {
        font-size: 1.35rem;
        min-height: 85px;
    }
    .acc-btn-container {
        justify-content: center;
    }
    .btn-acc2 {
        margin-left: 30px;
    }
}
@media screen and (min-width: 800px) {
    .accueil-container {
        flex-direction: row;
        max-width: 800px;
        width: 95vw;
        height: 60vh;
    }
    .accueil-portrait .img-container {
        margin: 0;
    }
    .img-container img {
        max-width: none;
    }
    .accueil-texte {
        margin-top: 3.5vh;
        justify-content: center;
    }
    #bonjour svg {
        margin: 0 3vw 0 auto;
    }
    .bienvenue h1 {
        font-size: 2.3rem;
    }
    .txt-animation {
        font-size: 1.1rem;
    }

}


