*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--blancCasse);
    overflow-x: hidden;
}
section {
    scroll-snap-align: start;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* Variables */
:root {
    --bleuMain: #5fbfed;
    --bleuClair: #83cdfc;
    --bleuFonce: #328ebd;
    --rougeMain: #e3051d;
    --rougeClair: #ff4f60;
    --rougeFonce: #bd060f;
    --coulNoir: #000;
    --coulBlanc: #fff;
    --coulGris: #333;
    --coulGrisClair: #aaa;
    --blancCasse: #f1f1f1;
}
.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------ Accueil ------------------ */
.accueil {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.accueil-container{
    height: 70vh;
    margin: 0 auto;
    flex-direction: column;
}
/* portrait */
.accueil-portrait {
    width: 100%;
    min-height: 30vh;
    margin-top: 3.5vh;
}
.accueil-portrait .img-container {
    margin: 0 30vw 0 0;
    border-radius: 50%;
    position: relative;
    width: 50vw;
    height: 50vw;
    border-left: 2px solid var(--rougeClair);
    border-top: 2px solid var(--rougeClair);
    border-right: 2px solid var(--rougeFonce);
    border-bottom: 2px solid var(--rougeFonce);
    box-shadow: inset 11vw 11vw 14vw var(--rougeFonce),
                inset -11vw -11vw 14vw var(--rougeClair);
    background: var(--rougeMain);
}
.accueil-portrait .img-container img {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* bloc de texte */
.accueil-texte {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
}
svg {
    color: var(--bleuMain);
    width: 40vw;
    margin: 0 10vw 0 auto;
    height: auto;
}
.bienvenue {
    text-align: center;
}
.bienvenue h1 {
    font-size: 1.7rem;
    font-family: 'Bebas Neue', sans-serif;
}
#txt-animation {
    min-height: 70px;
}
.txt-animation {
    font-size: 1rem;
    padding: 1vh 4vw;
    text-align: center;
}
/* Boutons liens */
.acc-btns {
    flex-direction: column;
}
.acc-btn-container {
    display: none;
    flex-direction: column;
    margin-top: 2vh;
    width: 100%;
}
.btn-acc {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 65vw;
    max-width: 280px;
    height: 50px;
    text-decoration: none;
    background: var(--coulNoir);
    color: var(--blancCasse);
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 1.1rem;
    transition: transform 0.2s ease-in-out;
}
.btn-acc:hover {
    transform: scale(1.02);
    background-color: var(--bleuMain);
}
.btn-acc1 {
    margin: 10px 0 0 0;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid var(--coulNoir);
    color: var(--coulNoir);
    font-weight: 700;
}
.medias {
    width: 100%;
    margin-top: 6vw;
}
.medias a {
    text-decoration: none;
}
.media {
    width: 60px;
    height: 60px;
    background: var(--coulGris);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.media:hover {
    background-color: var(--bleuMain);
    border: 2px solid var(--rougeMain);
}
.media2 {
    background: transparent;
    border: 2px solid var(--coulGris);
}
.media3 {
    margin-right: 0;
}
.media i {
    text-decoration: none;
    color: white;
}
.media2 i {
    color: #333;
}
.media2:hover i {
    color: var(--coulBlanc);
}
/* Bouton de bas de page */
.scroll-container {
    display: flex;
    width: 100%;
    height: 40px;
    max-height: 10vh;
    /* position: relative;
    bottom: 0; */
    margin-top: 10vw;
}
.scroll {
    border: 2px solid var(--coulGris);
    border-radius: 30px;
    bottom: 0;
    font-size: 20px;
    height: 50px;
    left: 50%;
    margin: 0 0 20px -12px !important;
    position: absolute;
    text-align: center;
    width: 25px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
    transform: translateY(0);
    animation: float 6s ease-in-out infinite;
    color: var(--coulGris);
}
@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);
        transform: translateY(-15px);
    }
    100% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translateY(0px);
    }
}
/* ---------------- Fin Accueil ---------------- */

/* ------------------- Menu -------------------- */
/* Création du bouton hamburger en CSS */
.btn-menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: fixed;
    top: 12px;
    right: 10px;
    z-index: 10;
    background: var(--coulGris);
}
.btn-menu:hover{
    border: 2px solid var(--rougeMain);
    background: var(--rougeMain);
}
.btn-menu.ouvert {
    background-color: transparent;
    border: none;
}
.cont-ligne {
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ligne-unique {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: var(--blancCasse);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ligne-unique::before {
    content: '';
    position: absolute;
    bottom: 10px;
    background: var(--blancCasse);
    width: 100%;
    height: 3px;
    border-radius: 5px;
}
.ligne-unique::after {
    content: '';
    position: absolute;
    top: 10px;
    background: var(--blancCasse);
    width: 100%;
    height: 3px;
    border-radius: 5px;
}
.cont-ligne.active .ligne-unique::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
} 
.cont-ligne.active .ligne-unique {
    background: transparent;
}
.cont-ligne.active .ligne-unique::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
}
.menu-visible {
    top: 0;
}
/* Menu horizontal */
header {
    position: fixed;
    background-color: var(--blancCasse);
    border-radius: 6px;
    box-shadow: 0 2px 92px 0 rgba(0 0 0 / 27%);
    z-index: 5;
    margin: 10px;
    width: 95%;
    top: -100px;
    transition: .2s all ease-in-out;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
header nav .home {
    background-color: var(--rougeMain);
    color: var(--blancCasse);
    font-size: 1.2rem;
    justify-content: center;
    align-self: stretch;
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid var(--blancCasse)
}
header nav .tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bleuClair);
    border-radius: 8px;
    margin-top: 50px;
    box-shadow: 0 2px 92px 0 rgba(0 0 0 / 27%);
    opacity: 0;
    visibility: hidden;
}
header nav .tabs.active {
    top: 10px;
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(5px) !important;
}
header nav .tabs li {
    text-align: center;
    border-bottom: .1rem solid var(--bleuFonce);
    cursor: pointer;
}
header nav .tabs li:last-child {
    border-bottom: none;
}
header nav .tabs li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--blancCasse);
    text-transform: uppercase;
    padding: 0 1rem;
    line-height: 45px;
    transition: all .3s ease;
}
header nav .tabs li a.active,
header nav .tabs li:hover a {
    color: var(--rougeMain);
}
header nav .hire-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    font-size: 1rem;
    font-family: inherit;
    padding: 1px 6px;
    line-height: 35px;
    border: none;
    /* background-color: var(--rougeMain); */
    transition: all .3s ease;
    cursor: pointer;
}
header nav .hire-me .btn {
    color: var(--coulNoir);
}
header nav .hire-me .btn i {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
    background-color: var(--rougeMain);
    color: var(--blancCasse);
    font-size: 1rem;
    line-height: 27px;
    margin-left: 5px;
}
header nav .toggle-btn {
    font-size: 2rem;
    color: var(--blancCasse);
    width: 50px;
    height: 50px;
    border-left: .1rem solid var(--borderColor);
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid white;
    background-color: var(--rougeMain);
    border-radius: 0 6px 6px 0;
}
header nav .toggle-btn i {
    visibility: hidden;

}
/* ----------------- Fin Menu ------------------ */

/* --------------- Présentation ---------------- */
.presentation {
    min-height: 100vh;
    width: 100%;
    position: relative;
    border-top: 1px dashed var(--coulGris);
    border-bottom: 1px dashed var(--coulGris);
    color: #e7e7e7;
    background-image: linear-gradient(45deg, var(--bleuFonce), var(--bleuClair));
    display: flex;
}
.container-presentation {
    width: 100%;
    margin: 10px 0 30px 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: space-evenly; */
}
.titre-pres {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.5rem;
    margin: 0 10px;
    padding-top: 20px;
    text-align: center;
}
.pres-gauche {
    width: 80%;
    flex-shrink: 1;
    margin-bottom: 10px;
    /* padding: 20px 0; */
}
.pres-gauche h3 {
    text-align: center;
    font-size: 1.25rem  ;
    letter-spacing: 0px;
}
.pres-gauche hr {
    width: 60px;
    margin: 10px auto 10px auto;
}
.pres-gauche p {
    text-align: justify;
    font-size: 0.9rem;
}
.pres-droite {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    flex-shrink: 1;
}
.liste-presentation {
    padding: 0 0;
    list-style-type: none;
}
.chiffre-style {
    /* font-family: 'Abril Fatface', sans-serif; */
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
}
.txt-liste {
    font-size: 1.1rem;
    display: inline;
}
.textgradient {
    background-color: #f3f0c0;
    background-image: linear-gradient(135deg, #98ffa6, var(--rougeMain));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
/* ------------- Fin Présentation -------------- */

/* ---------------- Portfolio ------------------ */
.portfolio {
    width: 100%;
}
.titre-port {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.5rem;
    padding: 30px 0 10px 0;
    margin: 0;
}
.portfolio .filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.5rem;
    margin: 0.5rem auto 0.5rem;
    width: 100%;
    max-width:300px;
}
.portfolio .filter li {
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--coulGrisClair);
    transition: all .3s ease;
    cursor: pointer;
}
.portfolio .filter li.active {
    color: var(--bleuMain);
}
.cont-portfolio {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    margin-bottom: 2.5rem;
}
.cont-portfolio .box {
    border-radius: .6rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
    overflow: hidden;
    background-color: var(--blancCasse);
    color: var(--coulGris);
    margin: 1rem;
}
.cont-portfolio .box.active {
    display: block;
    animation: fadeIn .5s ease;
}
@keyframes fadeIn {
    from {
        transform: skewY(-20deg) scale(0);
    }
    to {
        transform: skewY(0deg) scale(1);
    }
}
.box:hover {
    transform: translateY(-5px);
}
.cont-img-port {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.cont-img-port img {
    width: 100%;
    height: auto;
}
.box .details h4 {
    padding: 0 .6rem 0;
    font-size: 1.4rem;
}
.box .details p {
    padding: .2rem .6rem .2rem;
    font-size: .9rem;
}
.btn-projets {
    display: block;
    margin: 10px;
    width: 11.25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.btn-projets::after {
    content: '';
    height: 15rem;
    width: 5rem;
    background: rgba(255,255,255,0.4);
    display: block;
    position: absolute;
    left: -9.375rem;
    top: -3rem;
    transform: rotate(-45deg);
}
.btn-projets:hover::after {
    transition: transform 0.3s 0.1s linear;
    transform: translateX(25rem)
}
/* -------------- Fin Portfolio ---------------- */

/* ---------------- Technos ------------------ */
.technos{
    width: 100%;
    border-bottom: 1px dashed var(--coulGris);
}
.technos-title {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    padding: 10px 0 10px 0;
    margin: 0;
}
.technos-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
}
.techno {
    padding: .5rem 1.5rem;
    background-color: var(--blancCasse);
    border-radius: .8rem;
    margin-bottom: 3rem;
    box-shadow: 0rem 0rem 4.8rem 0rem rgba(4 6 4 / 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
}
.techno-img-container {
    height: 80%;
}
.techno .techno-img {
    width: 60%;
}
.techno-text-container {
    height: 20%
}
.techno .techno-name {
    font-size: .9rem;
    font-style: italic;
}
/* -------------- Fin Technos ---------------- */

/* ------------------- Compétences -------------------- */
.skills{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    border-bottom: 1px dashed #333;
    background: #485563;
    /* background-image: linear-gradient(to right, #181e24, #738394); */
    background-image: linear-gradient(45deg, var(--bleuFonce), var(--bleuClair));
    color: #f1f1f1;
}
.titre-comp {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    padding: 30px 0 10px 0;
    margin: 0;
}
.skills-legende {
    font-size: .55rem;
    margin-top: -1.2rem;
}
.skills-container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: .97rem;
}
.skills-container .skill-block {
    width: 100%;
}
.skills-container .skill-block h3 {
    color: var(--blancCasse);
    font-size: 1.17rem;
    letter-spacing: .03rem;
}
.skills-container .skill-block .skill-bar {
    position:relative;
    width: 100%;
    height: .33rem;
    border-radius: 3rem;
    background-color: var(--bleuFonce);
}
.skills-container .skill-block .skill-title {
    position: relative;
    margin-bottom: .65rem;
}
.skills-container .skill-block .skill-title span {
    display: block;
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: var(--blancCasse);
    top:50%;
    transform: translateY(-50%);
    margin-left: -1rem;
    transition: all 1s ease;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.skills-container .skill-block .skill-title span::before,
.skills-container .skill-block .skill-title span::after {
    content: '';
    position: absolute;
}
.skills-container .skill-block .skill-title span::before {
    width: 2.6rem;
    height: 1.31rem;
    background-color: var(--rougeMain);
    top: .13rem;
    left: -.195rem;
    border-radius: .195rem;
    z-index: -1;
}
.skills-container .skill-block .skill-title span::after {
    border-top: .65rem solid var(--rougeMain);
    border-left: .65rem solid transparent;
    border-right: .65rem solid transparent;
    border-bottom: .65rem solid transparent;
    top: 1.391rem;
    left: .39rem;
}
.skills-container .skill-block .skill-bar span {
    display: block;
    width: 0;
    height: 100%;
    border-radius: 3rem;
    background-color: var(--rougeMain);
    transition: all 1s ease;
}
/* ----------------- Fin Compétences ------------------ */

/* ------------------- Expériences -------------------- */
.travail-exp {
    width: 100%; 
    height: auto;
    min-height: 100vh;
    margin-left: auto;
    padding-bottom: 3.5rem;
    --bloc-height: 18.5rem;
}
.titre-travail-exp {
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    font-size: 3.8rem;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--coulNoir);
}
.cont-exp-travail {
    position: relative;
    display: flex;
    justify-content: center;
}
.barre-verticale {
    height: calc((var(--bloc-height) + 2.5rem) * 3 + 3rem);
    width: 5px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -30px;
    margin-left: 60px;
}
.boule-ico {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boule-ico img {
    width: 25px;
}
.flex-cont-bloc-exp {
    width: 800px;
    flex-shrink: 1;
    height: 1000px;
    position: relative;
    margin-right: 30px;
}
.bloc {
    width: 100%;
    height: var(--bloc-height);
    margin-bottom: 2.5rem;
    cursor: pointer;
    border: 1px solid var(--coulGris);
    position: relative;
}
.contenu-bloc {
    padding: 20px;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: white;
    transition: transform 0.25s ease-in-out;
    transform: translate(10px, -10px);
}
.contenu-bloc:hover {
    transform: translate(0,0);
}
.bloc:nth-child(odd) {
    background: var(--bleuMain);
}
.bloc:nth-child(odd) .titre-section-bloc{
    color: var(--bleuMain)
}
.bloc:nth-child(even) {
    background: var(--rougeMain)
}
.bloc:nth-child(even) .titre-section-bloc{
    color: var(--rougeMain)
}
img.logo-resa{
    width: 5vh;
}
img.logo-udemy {
    height: 5vh;
}
img.logo-fusee {
    transform: rotate(-45deg);
}
.titre-section-bloc {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 10px;
}
.details-exp {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
}
.contenu-bloc hr{
    width: 60px;
    margin: 10px auto 10px auto;
}
.txt-section {
    font-size: 0.9rem;
}
/* ----------------- Fin Expériences ------------------ */

/* ---------------- Parallax 1 ----------------- */
.section-parallax {
    width: 100%;
    height: 250px;
    background: url(ressources/instagramPicture.jpg) no-repeat center / cover fixed;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
    flex-direction: column;
}
.txt-par {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 1.9rem;
}
/* -------------- Fin Parallax 1 --------------- */

/* ------------------ Contact ------------------ */
.section-contact {
    width: 100%;
    height: auto;
}
.section-contact h2 {
    text-align: center;
    color: #333;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
    padding: 70px 0 0 300px;
}
.section-contact h2 strong {
    font-weight: 900;
}
.container-form {
    margin: 0 auto;
    width: 70%;
    padding-left: 300px;
}
.form-groupe {
    position: relative;
    display: flex;
    margin-bottom: 45px;
}
.form-groupe label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 20px;
    transition: 0.4s ease-out;
}
.form-groupe input {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaa;
    color: #666;
    font-size: 20px;
    transition: 0.4s ease-out;
}
textarea {
    width: 100%;
    height: 200px;
    border: none;
    border: 3px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    resize: none;
    outline: none;
    font-size: 20px;
    transition: 0.4s all ease-out;
    background: #f1f1f1;
}
textarea::placeholder {
    font-size: 20px;
    opacity: 0.5;
}
textarea:focus {
    border-color: #8d97d7;
}
.form-groupe:nth-child(4) {
    margin-bottom: 25px;
    justify-content: flex-start;
}
.form-groupe .button-sub {
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid rgb(144,144,144);
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, rgb(65,65,65) 50%, rgb(134,134,134));
    background-size: 200%;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.form-groupe .button-sub:hover {
    color: #fff;
    background-position: 100%;
    border: 3px solid #fff;
}

/* Mediaqueries contact */
@media screen and (max-width: 1300px) {
    .section-contact h2 {
        padding: 70px 0 0 0;
    }
    .container-form {
        padding-left: 0;
    }
    .form-groupe:nth-child(4) {
        justify-content: center;
    }
}

/* Animation contact */
.form-groupe:focus-within label,
.form-groupe.animation label {
    top: 0px;
    transform: translateY(-100%);
    color: #8b97d7;
}
/* ---------------- Fin Contact ---------------- */

/* ------------------ Footer ------------------- */
footer {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-left: 300px;
}
@media screen and (max-width: 1300px) {
    footer{
        padding-left: 0;
    }
}
/* ---------------- Fin Footer ----------------- */

/* ----------------- Preloader ----------------- */
.preloader {
    position: fixed;
    inset: 0;
    background-color: var(--blancCasse);
    width: 100%;
    height: 100vh;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(1);
    transition: all .3s ease-in-out;
}
.preloader.hide {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
.spinner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--blancCasse);
    overflow: hidden;
    z-index: 1;
}
.spinner .img-container {
    width: 100px;
    height: 100px;
    background-color: (var(--rougeMain));
    display: flex;
    border-radius: 50%;
    z-index: 2;
}
.spinner .img-container img {
    width: 120%;
    height: 120%;
    border-radius: 50%;
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-50%,-50%);
}
.spinner::after {
    content: "";
    position : absolute;
    inset: 0;
    background: linear-gradient(to right, var(--bleuMain) 10%, rgba(255, 255, 255, 0) 42%);
    z-index: -1;
    animation: load 1.4s infinite linear;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* --------------- Fin Preloader --------------- */



/* RESPONSIVE MEDIA QUERIES*/
/* Default size: <375px width */

/* iPhone devices */
@media screen and (min-width: 375px) {
    .bienvenue h1 {
        font-size: 2.1rem;
    }
    .scroll-container {
        margin-top: 50px;
    }
}
/* height: >800px */
@media screen and (min-height: 800px) {
    .accueil-container {
        height: 60vh;
    }
    .accueil-texte {
        padding-top: 0;
    }
    .acc-btn-container {
        display: flex;
        margin-top: 0;
        margin-bottom: 2vh;
    }
    .scroll-container {
        margin-top: 70px;
    }
    .medias {
        margin-top: 2vh;
    }
}
/* big smartphones */
@media screen and (min-width: 412px) {
    .bienvenue h1 {
        font-size: 2.4rem;
    }
    .txt-animation {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 500px) {
    .accueil-container {
        max-height: 31.25rem;
    }
    .accueil-portrait {
        max-height: 15.625rem;
    }
    .accueil-portrait .img-container {
        max-height: 15.625rem;
        max-width: 15.625rem;
    }
    .accueil-portrait .img-container img {
        max-width: 21.875rem;
        max-height: 21.875rem;
    }
    .acc-btn-container {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    /* presentation */
    .chiffre-style {
        font-size: 2.5rem;
    }
    /* portfolio */
    .titre-port {
        padding: 50px 0;
    }
    .cont-img-port {
        height: 13.75rem;
    }
    .section-parallax {
        flex-direction: row;
    }
    .txt-par {
        font-size: 1.4rem;
        margin: 0 1.56rem;
    }
    .bloc {
        height: 250px;
    }
    .txt-section {
        font-size: 1rem;
    }
}
/* portrait tablets */
@media screen and (min-width: 760px) and (orientation: portrait) {}
/* landscape tablets */
@media screen and (min-width: 1024px) and (orientation: landscape) {}
/* lo-rez desktop */
@media screen and (min-width: 801px) {
    /* presentation: max 1100px */
    .container-presentation {
        flex-direction: row;
    }
    .pres-gauche {
        width: 600px;
        flex-shrink: 0;
        margin-bottom: 50px;
        padding-left: 120px;
        padding-top: 20px;
    }
    .pres-gauche h3 {
        font-size: 1.6rem;
        letter-spacing: 2px;
    }
    .pres-gauche p {
        font-size: 16px;
    }
    .pres-droite {
        width: 600px;
        flex-shrink: 0;
    }
    .liste-presentation {
        padding: 10px 0 50px 110px;
    }
    .txt-liste {
        font-size: 1.7rem;
    }
    .titre-port {
        margin: 50px 0 70px;
    }
    .skills-container {
        width: 700px;
    }
    .txt-par {
        font-size: 1.6rem;
        margin: 0 ;
    }
    .barre-verticale {
        height: 1200px;
        margin-left: 0;
    }
    .flex-cont-bloc-exp {
        margin-right: 0;
    }
    .bloc{
        height: 200px;
    }
}
/* big desktop 1920x1200 */
@media screen and (min-width: 1281px) {
    .container-presentation {
        margin: 50px 0 130px 0;
    }
    .txt-par {
        font-size: 1.9rem;
        margin: 0 3rem;
    }
    .barre-verticale {
        height: 1000px;
    }
}



/* OLD RESPONSIVE MEDIA QUERIES */

/*
@media screen and (min-height: 0em) {
    color: black;
}



@media screen and (min-width: 575px) {
    .acc-btn-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .btn-acc {
        width: 250px;
    }
    .medias {
        margin-top: 3vh;
    }
}
@media screen and (min-width: 600px) {
    .accueil-container,
    .acc-btns {
        max-width: 600px;
        margin: auto;
    }
    .accueil-portrait {
        margin-top: 5vh;
    }
    .accueil-portrait .img-container {
        max-width: 300px;
        max-height: 300px;
    }
    .accueil-portrait .img-container img {
        max-width: 420px;
    }
    .accueil-texte {
        height: 30vh;
    }
    #bonjour svg {
        max-width: 240px;
    }
    .bienvenue h1 {
        font-size: 2.3rem;
    }
    .txt-animation {
        font-size: 1.35rem;
        min-height: 85px;
    }
    .acc-btn-container {
        justify-content: center;
    }
    .btn-acc2 {
        margin-left: 30px;
    }
}
@media screen and (min-width: 800px) {
    .accueil-container {
        flex-direction: row;
        max-width: 800px;
        width: 95vw;
        height: 60vh;
    }
    .accueil-portrait .img-container {
        margin: 0;
    }
    .img-container img {
        max-width: none;
    }
    .accueil-texte {
        margin-top: 3.5vh;
        justify-content: center;
    }
    #bonjour svg {
        margin: 0 3vw 0 auto;
    }
    .bienvenue h1 {
        font-size: 2.3rem;
    }
    .txt-animation {
        font-size: 1.1rem;
    }

}
@media screen and (min-width: 1300px) {
    .titre-pres {
        margin: 50px 0 70px 0;
        font-size: 4rem;
    }
}

*/